
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
*{
    font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border {
    border: 2px solid red !important;
}
.myButton{
    border-radius: 5px !important;
    border: 1px solid #888 !important;
    text-transform: capitalize !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;

    font-size: 16px !important;
}
.PhoneInputInput {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  color: inherit;
}
html {scroll-behavior: smooth;}