.viewer {
  position: fixed;
  inset: 0;
  background: #444;
  z-index: 2000;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.viewer-slide {
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: grabbing;
}

.viewer-slide:active {
  cursor: grabbing;
}

.viewer-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
}